<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AVCFAssetExportPresetAppleM4V720pHD</key>
	<dict>
		<key>Video</key>
		<dict>
			<key>videoMatrixHandling</key>
			<string>PreserveMatrix</string>
			<key>maxHeight</key>
			<integer>720</integer>
			<key>maxWidth</key>
			<integer>1280</integer>
			<key>videoCodec</key>
			<integer>1635148593</integer>
			<key>maxFrameRate</key>
			<integer>30</integer>
			<key>videoAverageBitRate</key>
			<integer>7340032</integer>
			<key>encoderUsage</key>
			<integer>7</integer>
			<key>dataRateLimitSize</key>
			<integer>2500000</integer>
			<key>dataRateLimitDuration</key>
			<integer>1</integer>
			<key>allowFrameReordering</key>
			<true/>
			<key>profileLevel</key>
			<string>H264_Main_3_1</string>
			<key>keyFrameInterval</key>
			<integer>30</integer>
			<key>colorPrimaries</key>
			<string>ITU_R_709_2</string>
			<key>transferFunction</key>
			<string>ITU_R_709_2</string>
			<key>yCbCrMatrix</key>
			<string>ITU_R_709_2</string>
		</dict>
		<key>Audio</key>
		<dict>
			<key>audioPreset</key>
			<string>Preset_AAC_44kHz_Stereo_256kbit</string>
		</dict>
	</dict>
	<key>AVCFAssetExportPresetAppleM4V1080pHD</key>
	<dict>
		<key>Video</key>
		<dict>
			<key>videoMatrixHandling</key>
			<string>PreserveMatrix</string>
			<key>maxHeight</key>
			<integer>1080</integer>
			<key>maxWidth</key>
			<integer>1920</integer>
			<key>videoCodec</key>
			<integer>1635148593</integer>
			<key>maxFrameRate</key>
			<integer>30</integer>
			<key>videoAverageBitRate</key>
			<integer>10485760</integer>
			<key>encoderUsage</key>
			<integer>0</integer>
			<key>profileLevel</key>
			<string>H264_Main_AutoLevel</string>
			<key>keyFrameInterval</key>
			<integer>30</integer>
			<key>allowFrameReordering</key>
			<true/>
			<key>colorPrimaries</key>
			<string>ITU_R_709_2</string>
			<key>transferFunction</key>
			<string>ITU_R_709_2</string>
			<key>yCbCrMatrix</key>
			<string>ITU_R_709_2</string>
		</dict>
		<key>Audio</key>
		<dict>
			<key>audioPreset</key>
			<string>Preset_AAC_44kHz_Stereo_256kbit</string>
		</dict>
	</dict>
	<key>AVCFAssetExportPresetAppleM4VAppleTV</key>
	<dict>
		<key>Video</key>
		<dict>
			<key>videoMatrixHandling</key>
			<string>ApplyRotation</string>
			<key>maxHeight</key>
			<integer>540</integer>
			<key>maxWidth</key>
			<integer>960</integer>
			<key>videoCodec</key>
			<integer>1635148593</integer>
			<key>maxFrameRate</key>
			<integer>30</integer>
			<key>videoAverageBitRate</key>
			<integer>5242880</integer>
			<key>encoderUsage</key>
			<integer>7</integer>
			<key>dataRateLimitSize</key>
			<integer>1750000</integer>
			<key>dataRateLimitDuration</key>
			<integer>1</integer>
			<key>profileLevel</key>
			<string>H264_Main_3_1</string>
			<key>keyFrameInterval</key>
			<integer>30</integer>
			<key>allowFrameReordering</key>
			<true/>
			<key>colorPrimaries</key>
			<string>ITU_R_709_2</string>
			<key>transferFunction</key>
			<string>ITU_R_709_2</string>
			<key>yCbCrMatrix</key>
			<string>ITU_R_709_2</string>
		</dict>
		<key>Audio</key>
		<dict>
			<key>audioPreset</key>
			<string>Preset_AAC_44kHz_Stereo_256kbit</string>
		</dict>
	</dict>
	<key>AVCFAssetExportPresetAppleM4VAppleTVHiRes</key>
	<dict>
		<key>Video</key>
		<dict>
			<key>videoMatrixHandling</key>
			<string>ApplyRotation</string>
			<key>maxHeight</key>
			<integer>720</integer>
			<key>maxWidth</key>
			<integer>1280</integer>
			<key>videoCodec</key>
			<integer>1635148593</integer>
			<key>maxFrameRate</key>
			<integer>24</integer>
			<key>videoAverageBitRate</key>
			<integer>5242880</integer>
			<key>encoderUsage</key>
			<integer>7</integer>
			<key>dataRateLimitSize</key>
			<integer>1750000</integer>
			<key>dataRateLimitDuration</key>
			<integer>1</integer>
			<key>profileLevel</key>
			<string>H264_Main_3_1</string>
			<key>keyFrameInterval</key>
			<integer>24</integer>
			<key>allowFrameReordering</key>
			<true/>
			<key>colorPrimaries</key>
			<string>ITU_R_709_2</string>
			<key>transferFunction</key>
			<string>ITU_R_709_2</string>
			<key>yCbCrMatrix</key>
			<string>ITU_R_709_2</string>
		</dict>
		<key>Audio</key>
		<dict>
			<key>audioPreset</key>
			<string>Preset_AAC_44kHz_Stereo_256kbit</string>
		</dict>
	</dict>
	<key>AVCFAssetExportPresetAppleM4ViPod</key>
	<dict>
		<key>Video</key>
		<dict>
			<key>videoMatrixHandling</key>
			<string>ApplyRotation</string>
			<key>maxHeight</key>
			<integer>480</integer>
			<key>maxWidth</key>
			<integer>640</integer>
			<key>videoCodec</key>
			<integer>1635148593</integer>
			<key>maxFrameRate</key>
			<integer>30</integer>
			<key>videoAverageBitRate</key>
			<integer>1572864</integer>
			<key>encoderUsage</key>
			<integer>6</integer>
			<key>dataRateLimitSize</key>
			<integer>534800</integer>
			<key>dataRateLimitDuration</key>
			<real>2.6</real>
			<key>profileLevel</key>
			<string>H264_Baseline_3_0</string>
			<key>keyFrameInterval</key>
			<integer>30</integer>
			<key>allowFrameReordering</key>
			<false/>
			<key>colorPrimaries</key>
			<string>SMPTE_C</string>
			<key>transferFunction</key>
			<string>ITU_R_709_2</string>
			<key>yCbCrMatrix</key>
			<string>ITU_R_601_4</string>
		</dict>
		<key>Audio</key>
		<dict>
			<key>audioPreset</key>
			<string>Preset_AAC_44kHz_Stereo_128kbit</string>
		</dict>
	</dict>
	<key>AVCFAssetExportPresetPhotoStream</key>
	<dict>
		<key>Video</key>
		<dict>
			<key>videoMatrixHandling</key>
			<string>ApplyRotation</string>
			<key>maxHeight</key>
			<integer>360</integer>
			<key>maxWidth</key>
			<integer>640</integer>
			<key>videoCodec</key>
			<integer>1635148593</integer>
			<key>frameDurationValue</key>
			<integer>1</integer>
			<key>frameDurationTimeScale</key>
			<integer>30</integer>
			<key>maxFrameRate</key>
			<integer>30</integer>
			<key>videoAverageBitRate</key>
			<real>880803.84</real>
			<key>profileLevel</key>
			<string>H264_High_AutoLevel</string>
			<key>entropyMode</key>
			<string>CABAC</string>
			<key>keyFrameInterval</key>
			<integer>30</integer>
			<key>allowFrameReordering</key>
			<true/>
			<key>encoderUsage</key>
			<integer>0</integer>
			<key>colorPrimaries</key>
			<string>SMPTE_C</string>
			<key>transferFunction</key>
			<string>ITU_R_709_2</string>
			<key>ycbcrMatrix</key>
			<string>ITU_R_601_4</string>
		</dict>
		<key>Audio</key>
		<dict>
			<key>audioPreset</key>
			<string>Preset_AAC_48kHz_Stereo_128kbit</string>
		</dict>
	</dict>
	<key>AVCFAssetExportPresetPhotoStreamHD</key>
	<dict>
		<key>Video</key>
		<dict>
			<key>videoMatrixHandling</key>
			<string>ApplyRotation</string>
			<key>maxHeight</key>
			<integer>720</integer>
			<key>maxWidth</key>
			<integer>1280</integer>
			<key>videoCodec</key>
			<integer>1635148593</integer>
			<key>frameDurationValue</key>
			<integer>1</integer>
			<key>frameDurationTimeScale</key>
			<integer>30</integer>
			<key>maxFrameRate</key>
			<integer>30</integer>
			<key>videoAverageBitRate</key>
			<real>2936012.8</real>
			<key>profileLevel</key>
			<string>H264_High_AutoLevel</string>
			<key>entropyMode</key>
			<string>CABAC</string>
			<key>keyFrameInterval</key>
			<integer>30</integer>
			<key>allowFrameReordering</key>
			<true/>
			<key>encoderUsage</key>
			<integer>0</integer>
			<key>colorPrimaries</key>
			<string>ITU_R_709_2</string>
			<key>transferFunction</key>
			<string>ITU_R_709_2</string>
			<key>ycbcrMatrix</key>
			<string>ITU_R_709_2</string>
		</dict>
		<key>Audio</key>
		<dict>
			<key>audioPreset</key>
			<string>Preset_AAC_48kHz_Stereo_160kbit</string>
		</dict>
	</dict>
	<key>AVCFAssetExportPresetICPL</key>
	<dict>
		<key>Video</key>
		<dict>
			<key>videoMatrixHandling</key>
			<string>ApplyRotation</string>
			<key>maxHeight</key>
			<integer>360</integer>
			<key>maxWidth</key>
			<integer>640</integer>
			<key>videoCodec</key>
			<integer>1635148593</integer>
			<key>frameDurationValue</key>
			<integer>1</integer>
			<key>frameDurationTimeScale</key>
			<integer>30</integer>
			<key>maxFrameRate</key>
			<integer>30</integer>
			<key>videoAverageBitRate</key>
			<integer>880804</integer>
			<key>profileLevel</key>
			<string>H264_High_AutoLevel</string>
			<key>entropyMode</key>
			<string>CABAC</string>
			<key>keyFrameInterval</key>
			<integer>90</integer>
			<key>allowFrameReordering</key>
			<true/>
			<key>encoderUsage</key>
			<integer>0</integer>
			<key>colorPrimaries</key>
			<string>SMPTE_C</string>
			<key>transferFunction</key>
			<string>ITU_R_709_2</string>
			<key>ycbcrMatrix</key>
			<string>ITU_R_601_4</string>
		</dict>
		<key>Audio</key>
		<dict>
			<key>audioPreset</key>
			<string>Preset_AAC_48kHz_Stereo_128kbit</string>
		</dict>
	</dict>
	<key>AVCFAssetExportPresetICPLHD</key>
	<dict>
		<key>Video</key>
		<dict>
			<key>videoMatrixHandling</key>
			<string>ApplyRotation</string>
			<key>maxHeight</key>
			<integer>720</integer>
			<key>maxWidth</key>
			<integer>1280</integer>
			<key>videoCodec</key>
			<integer>1635148593</integer>
			<key>frameDurationValue</key>
			<integer>1</integer>
			<key>frameDurationTimeScale</key>
			<integer>30</integer>
			<key>maxFrameRate</key>
			<integer>30</integer>
			<key>videoAverageBitRate</key>
			<integer>3355443</integer>
			<key>profileLevel</key>
			<string>H264_High_AutoLevel</string>
			<key>entropyMode</key>
			<string>CABAC</string>
			<key>keyFrameInterval</key>
			<integer>90</integer>
			<key>allowFrameReordering</key>
			<true/>
			<key>encoderUsage</key>
			<integer>0</integer>
			<key>colorPrimaries</key>
			<string>ITU_R_709_2</string>
			<key>transferFunction</key>
			<string>ITU_R_709_2</string>
			<key>ycbcrMatrix</key>
			<string>ITU_R_709_2</string>
		</dict>
		<key>Audio</key>
		<dict>
			<key>audioPreset</key>
			<string>Preset_AAC_48kHz_Stereo_160kbit</string>
		</dict>
	</dict>
	<key>AVCFAssetExportPresetICPLAux</key>
	<dict>
		<key>Video</key>
		<dict>
			<key>videoMatrixHandling</key>
			<string>ApplyRotation</string>
			<key>maxHeight</key>
			<integer>360</integer>
			<key>maxWidth</key>
			<integer>640</integer>
			<key>videoCodec</key>
			<integer>1635148593</integer>
			<key>frameDurationValue</key>
			<integer>1</integer>
			<key>frameDurationTimeScale</key>
			<integer>15</integer>
			<key>maxFrameRate</key>
			<integer>17</integer>
			<key>videoAverageBitRate</key>
			<integer>880804</integer>
			<key>profileLevel</key>
			<string>H264_High_AutoLevel</string>
			<key>entropyMode</key>
			<string>CABAC</string>
			<key>keyFrameInterval</key>
			<integer>10</integer>
			<key>allowFrameReordering</key>
			<true/>
			<key>encoderUsage</key>
			<integer>0</integer>
			<key>colorPrimaries</key>
			<string>SMPTE_C</string>
			<key>transferFunction</key>
			<string>ITU_R_709_2</string>
			<key>ycbcrMatrix</key>
			<string>ITU_R_601_4</string>
		</dict>
		<key>Audio</key>
		<dict>
			<key>audioPreset</key>
			<string>Preset_AAC_48kHz_Stereo_128kbit</string>
		</dict>
	</dict>
	<key>AVCFAssetExportPresetICPLAuxHD</key>
	<dict>
		<key>Video</key>
		<dict>
			<key>videoMatrixHandling</key>
			<string>ApplyRotation</string>
			<key>maxHeight</key>
			<integer>720</integer>
			<key>maxWidth</key>
			<integer>1280</integer>
			<key>videoCodec</key>
			<integer>1635148593</integer>
			<key>frameDurationValue</key>
			<integer>1</integer>
			<key>frameDurationTimeScale</key>
			<integer>15</integer>
			<key>maxFrameRate</key>
			<integer>17</integer>
			<key>videoAverageBitRate</key>
			<integer>3355443</integer>
			<key>profileLevel</key>
			<string>H264_High_AutoLevel</string>
			<key>entropyMode</key>
			<string>CABAC</string>
			<key>keyFrameInterval</key>
			<integer>10</integer>
			<key>allowFrameReordering</key>
			<true/>
			<key>encoderUsage</key>
			<integer>0</integer>
			<key>colorPrimaries</key>
			<string>ITU_R_709_2</string>
			<key>transferFunction</key>
			<string>ITU_R_709_2</string>
			<key>ycbcrMatrix</key>
			<string>ITU_R_709_2</string>
		</dict>
		<key>Audio</key>
		<dict>
			<key>audioPreset</key>
			<string>Preset_AAC_48kHz_Stereo_160kbit</string>
		</dict>
	</dict>
</dict>
</plist>
